

# Runtime model artifacts
SmartAttendance/backend/runtime/data/model/*.yml filter=lfs diff=lfs merge=lfs -text
SmartAttendance/backend/runtime/data/model/*.yaml filter=lfs diff=lfs merge=lfs -text

